name: Python Pull Request Workflow

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  qa:
    name: Quality check
    runs-on: ubuntu-22.04  # Atualizando para uma versão mais recente do Ubuntu
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v4  # Usando uma versão mais recente da ação
        with:
          python-version: 3.12  # Atualizando a versão do Python para 3.12

      - name: Install poetry
        run: |
          pip install -U pip
          pip install poetry
          poetry install
        env:
          POETRY_VIRTUALENVS_CREATE: false

      - name: View poetry --help
        run: poetry --help

      - name: Install dependencies
        run: python -m poetry install

      - name: Run Tests
        run: |
          poetry run python manage.py test

      - name: Wemake Python Styleguide
        uses: wemake-services/wemake-python-styleguide@0.16.0
        continue-on-error: true
        with:
          reporter: 'github-pr-review'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    name: Deploy to Heroku
    needs: qa
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Login to Heroku
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: |
          echo "$HEROKU_API_KEY" | docker login --username=_ --password-stdin registry.heroku.com

      - name: Deploy to Heroku
        run: |
          heroku container:push web -a ebac-api-bookstore
          heroku container:release web -a ebac-api-bookstore
